<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>To Do</title>
  </head>

  <body>
    <div>
      <% if (tasks) { %>
        <% tasks.forEach(task => { %>
          <h1><%= task.name %></h1>
          <hr>
          <p><%= task.note %></p>
        <% }) %>
      <% } else { %>
        <p>No Tasks</p>
      <% } %>
    </div>
  </body>
</html>
