<div *ngIf="task" class="row">
  <div class="col-sm-3 mx-auto">
    <div class="card">
      <h4 class="card-header">{{task.name}}</h4>

      <div class="card-body" *ngIf="task.note">
        <p class="card-text">{{task.note}}</p>
      </div>

      <div class="task-actions">
        <button *ngIf="!task.completed" routerLink="/edit-task/{{task._id}}" class="btn btn-primary">Edit</button>
        <button class="btn btn-info" (click)="cancel()">Go Back</button>
      </div>

    </div>
  </div>
</div>

