<div class="row">
  <div class="col-sm-3 mx-auto">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="newTaskForm" (ngSubmit)="addNewTask()">
          <div class="form-group">
            <label>Task Name</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="form-group">
            <label>Note (Optional)</label>
            <input type="text" class="form-control" formControlName="note">
          </div>
          <button type="submit" class="btn btn-primary">Add Task</button>
          <button class="btn btn-info" (click)="cancel()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
